<div>
    <h1>Página de inicio</h1>

    <p>Como podemos observar en la URL, actualmente estamos en la ruta de inicio o raíz (localhost:4200)</p>

    <p>En nuestro fichero de rutas (app.routing.ts) hace referencia a: <code>path: '', component: InicioComponent</code></p>

    <p>Con esto nos mostrará lo que tenga el HTML que hemos definido en el fichero: <samp>inicio.component.ts</samp></p>

    <p>La navegación se mostrará en todas las "pantallas", ya que la hemos definido en el fichero: <samp>app.component.html</samp> que es el HTMl que usará para mostrar los demás, ya que tiene definida la directiva: <code> &lt;router-outlet&gt;&lt;/router-outlet&gt;</code></p>
</div>