<div>
    <h4>Contenido del primer hijo</h4>

    <p>En nuestro fichero de rutas (app.routing.ts) hace referencia a: <code>path: 'anidadas/primerhijo', component: primerHijoComponent</code></p>

    <p>Con esto nos mostrará lo que tenga el HTML que hemos definido en el fichero: <samp>primerHijo.component.ts</samp></p>

    <p>Al tratarse de una ruta anidadas (con hijos), nos muestra el contenido debajo del padre, ya que así esta definido en el padre con la directiva: <code> &lt;router-outlet&gt;&lt;/router-outlet&gt;</code></p>

</div>